.kumar{
    background: #f9f8f8;
    color: black;
    padding: auto;
    text-align: center;
}
.suresh{
    background-color: blue;
    color: #f9f8f8;
}
.paramesh{
    background-color: chartreuse;
}